 /* Cascading stylesheet for the website */

 /* Text inside these asterisks and slashes are comments for human */

  a {
    color: blue;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red;/* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    background-color: pink;/* set the background color here */
    color: black; /* set the text color to black here */
    font-family: Arial, Helvetica, sans-serif;/* set the font here */
    text-align: center;/* set the text alignment here */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

 body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

